<%= form_for(@team, html: { class: 'form-horizontal' }) do |f| %>
  <% if @team.errors.any? %>
    <div class='alert alert-danger' role='alert'>
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label 'name *', class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field :image, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tournament, class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>
      <% today = Time.now %>
      <% @team.divisions.each do |div| %>
        <% next if div.tournament.end_date >= today %>
      <%= hidden_field_tag 'team[division_ids][]', div.id %>
      <% end %>
      <% Division.open_tournaments.each do |div| %>
        <%= f.label :division_ids, class: "control-label col-sm-4" do %>
          <%= radio_button_tag 'team[division_ids][]', div.id, @team.divisions.include?(div), class: 'form-control' %>
          <%= div.name_with_tournament %>
        <% end %>
      <% end %>
      <%#= f.collection_check_boxes( :division_ids, Division.open_tournaments, :id, :name_with_tournament ) do |b|
        b.label(class: "control-label col-sm-4") { b.check_box(class: "form-control") + b.text }
       end %>
    </div>
  </div>

  <% unless params[:action] == "new" %>
    <h2>Players</h2>
    <% @team.players.collect(&:id).each do |tid| %>
      <%= hidden_field_tag 'team[player_ids][]', tid unless tid.blank? %>
    <% end %>
    <%= hidden_field_tag 'team[player_ids][]', '', id: 'players_id' %>
    <div class='row'>
      <div class='col-sm-10'>
        <%= text_field_tag :players_name, '', class: 'form-control', placeholder: "Add Existing Player" %>
      </div>
      <div class='col-sm-2'>
        <%= f.submit 'Add Player', class: 'btn btn-primary', title: "Add player to the #{@team.name.humanize} team" %>
      </div>
    </div>
  <% end %>

  <%= render 'players_form', f: f unless params[:action] == "new" %>

  <div class='text-center'>
    <%= link_to 'Show', @team, class: "btn btn-default" %>
    <%= f.submit 'Save', class: "btn btn-primary" %>
  </div>
  <div class='text-center'>
    <small>* Required</small>
  </div>
<% end %>
