<table class='table table-striped'>
  <thead>
      <th>Name</th>
      <th>Nationality</th>
      <th>Gender</th>
      <th>Image</th>
      <th></th>
  </thead>
  <tbody>
  <%= f.fields_for :players do |players_form| %>
    <% unless players_form.object.name.blank? %>
        <% current_captain = @team.captains.include? current_user.player %>
        <% player_is_captain = @team.captains.include? players_form.object %>
        <tr>
          <td><%= link_to players_form.object.name, players_form.object %>
            <% if player_is_captain %>
              <span class='glyphicon glyphicon-star' title='Captain'></span>
            <% end %>
          </td>
          <td><%= players_form.object.nationality %></td>
          <td><%= players_form.object.gender %></td>
          <td><%= image_tag players_form.object.image unless players_form.object.image.blank? %></td>

          <%# TODO we should allow removal if more than 1 captain and current_user.player is not the same? %>
          <td>
            <% if current_captain %>
              <% unless players_form.object == current_user.player %>
                <% if player_is_captain %>
                  <%= link_to ' Remove Captain', { controller: 'teams',
                    captain_id: players_form.object.id,
                    action: :remove_captain },
                    class: 'btn btn-default glyphicon glyphicon-remove',
                    data: { confirm: "Are you sure you want to remove #{players_form.object.name} from captains?" }
                  %>
                <% else %>
                  <%= link_to_unless player_is_captain, ' Make Captain', { controller: 'teams',
                    captain_id: players_form.object.id,
                    action: :make_captain },
                    class: 'btn btn-default glyphicon glyphicon-plus',
                    data: { confirm: "Are you sure you want to make #{players_form.object.name} captain?" }
                  %>
                <% end %>
              <% end %>
            <% else %>
              <% if params[:action] != "show" %>
              <%= players_form.check_box :_destroy, class: 'form-control col-sm-1', title: "Remove Player" %> 
              <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
  <% end %>
  </tbody>
  </table>
