<table class='table table-striped'>
  <thead>
      <th>Name</th>
      <th>Nationality</th>
      <th>Gender</th>
      <th>Image</th>
      <th></th>
  </thead>
  <tbody>
  <%= f.fields_for :players do |players_form| %>
      <% unless players_form.object.name.blank? %>
        <tr>
          <td><%= link_to players_form.object.name, players_form.object %></td>
          <td><%= players_form.object.nationality %></td>
          <td><%= players_form.object.gender %></td>
          <td><%= image_tag players_form.object.image unless players_form.object.image.blank? %></td>

          <%# TODO we should allow removal if more than 1 captain and current_user.player is not the same? %>
          <td>
            <% if @team.captains.include? players_form.object %>
              <%= button_to :remove_from_captains,
                { action: :remove_captain },
                class: 'form-control btn btn-default' %>
              <span class='glyphicon glyphicon-star' title='Captain'></span>
            <% else %>
              <% if params[:action] != "show" %>
              <%= players_form.check_box :_destroy, class: 'form-control col-sm-1', title: "Remove Player" %> 
              <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
  <% end %>
  </tbody>
  </table>
