<% if @tournaments.size > 0 %>
  <h1>Join Tournaments</h1>
  <%= form_for @team, url: team_join_divisions_path(@team) do |f| %>
  <table class='table table-striped'>
    <tbody>
    <% @tournaments.each do |t| %>
      <%# next if t.teams.include? @team %>
      <tr>
      <td><%= t.name %></td>
      <td>
        <% t.divisions.each do |div| %>
          <%= f.label :division_ids, class: "control-label col-sm-2" do %>
            <%= radio_button_tag 'team[division_ids][]',
              div.id, @team.divisions.include?(div), class: 'form-control' %>
            <%= div.name %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <h1>No open tournaments to join</h1>
  <%= link_to 'Back', :back, class: 'btn btn-default' %>
<% end %>
