<div class='row'>
  <div class='col-sm-2'>
    <strong>Name:</strong>
  </div>
  <div class='col-sm-10'>
    <%= @team.name %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-2'>
    <strong>Logo:</strong>
  </div>
  <div class='col-sm-10'>
    <%= image_tag @team.image, alt: "#{@team.name} logo" unless @team.image.blank? %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-2'>
    <strong>Captains:</strong>
  </div>

  <div class='col-sm-10'>
    <% @team.captains.each do |tc| %>
      <p><%= tc.name %></p>
    <% end %>
  </div>
</div>
<div class='text-left'>
  <%= button_to 'Edit', edit_team_path(@team), title: 'Change team properties or remove players', class: 'btn btn-default', method: :get if (not current_user.player.nil? and @team.captains.include? current_user.player) or current_user.admin? %>
</div>
<% @team.players.build(name: '') %>
<%= form_for @team, html: { class: 'form form-horizontal' } do |f| %>
  <% if @team.errors.any? %>
    <div class='alert alert-danger' role='alert'>
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Players</h2>
  <% @team.players.collect(&:id).each do |tid| %>
    <%= hidden_field_tag 'team[player_ids][]', tid unless tid.blank? %>
  <% end %>
  <%= hidden_field_tag 'team[player_ids][]', '', id: 'players_id' %>
  <div class='row'>
    <div class='col-sm-10'>
      <%= text_field_tag :players_name, '', class: 'form-control', placeholder: "Add Existing Player" %>
    </div>
    <div class='col-sm-2'>
      <%= f.submit 'Add Player', class: 'btn btn-primary', title: "Add player to the #{@team.name.humanize} team" %>
    </div>
  </div>
  <%= render 'players_form', f: f %>
<% end %>
