<h1><%= @team.name %> team</h1>
<div class='row'>
  <div class='col-sm-10'>
    <%= image_tag @team.image, alt: "#{@team.name} logo" unless @team.image.blank? %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-2'>
    <strong>Captains:</strong>
  </div>

  <div class='col-sm-10'>
    <% @team.captains.each do |tc| %>
      <p>
        <%= tc.name %>
        <% no_player_is_captain_or_admin = !@team.players.include?(tc) && (current_user.admin? || @team.captains.include?(current_user.player)) %>
        <%# TODO this can be removed once we can remove players from team_captains when removing them from team associations%> 
        <%= link_to_if no_player_is_captain_or_admin, '', { controller: 'teams',
                    captain_id: tc.id,
                    action: :remove_captain },
                    class: 'btn btn-default glyphicon glyphicon-remove',
                    data: { confirm: "Are you sure you want to remove #{tc.name} from captains?" },
                    method: :delete,
                    title: "Remove captain who is not current player"
        %>
      </p>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-2'>
    <strong>Tournaments:</strong>
  </div>

  <div class='col-sm-10'>
    <% today = Time.now %>
    <% @team.divisions.each do |div| %>
      <p title="<%= div.tournament.end_date < today ? "Tournament has ended on #{div.tournament.end_date}" : ""%>">
        <%= div.tournament.name %>
        <%= div.name %>
        </p>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-2'>
    <%= button_to 'Edit Team', edit_team_path(@team),
      title: 'Change team properties or remove players',
      class: 'form-control btn btn-default', method: :get if (not current_user.player.nil? and @team.captains.include? current_user.player) or current_user.admin? %>
  </div>
  <div class='col-sm-2'>
    <%= link_to 'Join Tournaments', team_join_tournaments_path(@team), class: 'btn btn-default' %>
  </div>
</div>
<% @team.players.build(name: '') %>
<%= form_for @team, html: { class: 'form form-horizontal' } do |f| %>
  <% if @team.errors.any? %>
    <div class='alert alert-danger' role='alert'>
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Players</h2>
  <% @team.players.collect(&:id).each do |tid| %>
    <%= hidden_field_tag 'team[player_ids][]', tid unless tid.blank? %>
  <% end %>
  <%= hidden_field_tag 'team[player_ids][]', '', id: 'players_id' %>
  <div class='row'>
    <div class='col-sm-10'>
      <%= text_field_tag :players_name, '', class: 'form-control', placeholder: "Add Existing Player" %>
    </div>
    <div class='col-sm-2'>
      <%= f.submit 'Add Player', class: 'btn btn-primary', title: "Add player to the #{@team.name.humanize} team" %>
    </div>
  </div>
  
  <hr />
  <%= render 'players_form', f: f %>
<% end %>
