<%# TODO this section should be a case statement? %>
<% if not current_user %>
  <%# TODO if you're not a user, what can you see? %>
  <h1>It's more fun if you're a user. Consider <%= link_to 'signing in', new_user_session_path %></h1>
<% elsif current_user.player.nil? %>
  <h1>You cannot join teams without a <%= link_to 'player', new_player_path %>.</h1>
<% elsif current_user.player.teams.size > 0 %>
  <div class="row">
    <% current_user.player.teams.each do |t| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag t.image, alt: t.name if t.image %>
          <div class="caption">
            <h3><%= t.name %></h3>
            <%= button_to t.name, t, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>You have not <%= link_to 'joined a team', teams_path %> yet.</h1>
  <%= debug current_user.player.team_captains %>
<% end %>
