<%# TODO this section should be a case statement? %>
<% if not current_user %>
  <%# TODO if you're not a user, what can you see? %>
  <h1>It's more fun if you're a user. Consider <%= link_to 'signing in', new_user_session_path %></h1>
<% elsif current_user.player.nil? %>
  <h1>You cannot join teams without a <%= link_to 'player', new_player_path %>.</h1>
<% elsif current_user.player.teams.size > 0 %>
  <h1>My <%= "Team".pluralize(current_user.player.teams.size) %></h1>
  <div class="row">
    <% current_user.player.teams.each do |t| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail"> 
          <%= image_tag t.image, alt: t.name unless t.image.blank? %>
          <div class="caption">
            <h3><%= link_to "#{t.name} Team", t %></h3>
            <% t.players.each do |p| %> 
              <% if t.captains.include? p %>
                <div class="text-right">
                  <%= p.name %> <span class="glyphicon glyphicon-star" title="Team captain"></span>
                </div>
              <% end %>
            <% end %>
            <p class='text-right' title='Click title to see more players'>...</p>
            <% if t.captains.include? current_user.player %>
              <hr />
              <div class="text-right">
                <%= button_to 'Add Players', t, class: 'btn btn-default', method: :get %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>You have not <%= link_to 'joined a team', teams_path %> yet.</h1>
<% end %>
