<%# TODO this section should be a case statement? %>
<% if not current_user %>
  <%# TODO if you're not a user, what can you see? %>
  <h1>It's more fun if you're a user. Consider <%= link_to 'signing in', new_user_session_path %></h1>
<% elsif current_user.player.nil? %>
  <h1>You cannot join teams without a <%= link_to 'player', new_player_path %>.</h1>
<% elsif current_user.player.teams.size > 0 %>
  <div class="row">
    <% @teams.each do |t| %>
      <div class="col-sm-6 col-md-4">
        <h1>My <%= "Team".pluralize(@teams.size) %></h1>
        <div class="thumbnail">
          <%= image_tag t.image, alt: "#{t.name} image" unless t.image.blank? %>
          <div class="caption">
            <h3><%= link_to "#{t.name} Team", t %></h3>
            <% t.players.each do |p| %>
              <% if t.captains.include? p %>
                <div class="text-right">
                  <%= p.name %> <span class="glyphicon glyphicon-star" title="Team captain"></span>
                </div>
              <% end %>
            <% end %>
            <p class='text-right' title='<%= "#{t.players.size} player".pluralize(t.players.size) %>'><%= link_to "...", t %></p>
            <% if t.captains.include? current_user.player %>
              <hr />
              <div class="text-right">
                <%= button_to 'Add Players', t, class: 'btn btn-default', method: :get %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @teams, renderer: BootstrapPagination::Rails, param_name: :page %>
    <% @open_tournaments.each do |t| %>
      <div class="col-sm-6 col-md-6">
        <h1><%= "Tournament".pluralize(@open_tournaments.size) %></h1>
        <div class="thumbnail">
          <%= image_tag t.image, alt: "#{t.name} image" unless t.image.blank? %>
          <div class="caption">
            <h3><%= link_to "#{t.name}: #{t.player_divisions(current_user.player).name}", t %></h3>
            <div class="text-right">
              Next Match:
              <%# TODO display next match here %>
              Team Foo vs <%= t.player_team(current_user.player).name %>
              <hr />
              <div class="text-right">
                Line Up Here
                <%#= button_to 'Line Up', lineup_path(t), class: 'btn btn-default', method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @open_tournaments, renderer: BootstrapPagination::Rails, param_name: :otpage %>
  </div>

  <h1><%= "Past " + "Tournament".pluralize(@past_tournaments.size) %></h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>League</th>
      <th>Description</th>
      <th>Division</th>
    </tr>
  </thead>
  <tbody>
    <% @past_tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.name, tournament %></td>
        <td><%= link_to tournament.league.name, tournament.league %></td>
        <td><%= tournament.description %></td>
        <td><%= tournament.player_divisions(current_user.player).name if current_user.player %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <%= will_paginate @past_tournaments, renderer: BootstrapPagination::Rails, param_name: :ptpage %>
<% else %>
  <h1>You have not <%= link_to 'joined a team', teams_path %> yet.</h1>
<% end %>
