<h1>Listing Leagues</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr data-no-turbolink>
        <td><%= link_to league.name, league %></td>
        <td><%= league.description %></td>
        <td><%= link_to 'Edit', edit_league_path(league), class: 'form-control btn btn-default' if current_user.admin?  %></td>
        <td><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' }, class: 'form-control btn btn-default' if current_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class='row'>
  <div class='col-sm-4'>
    <%= button_to 'New League', new_league_path, class: "form-control btn btn-primary", method: :get %>
  </div>
</div>
