<div class='row'>
  <div class='col-sm-10'>
    <h2><%= @league.name %> league</h2>
  </div>
</div>

<div class='row'>
  <div class='col-sm-10'>
    <%= image_tag @league.image, alt: @league.name unless @league.image.blank? %>
  </div>
</div>

<div class='row'>
  <div class='col-sm-10'>
    <%= @league.description %>
  </div>
</div>

<div class='row'>
  <div class='col-sm-10'>
    <h3>Rules</h3>
    <ul>
<% @league.rules.each do |rule| %>
      <li><%= link_to rule.name, rule %></li>
<% end %>
    </ul>
  </div>
</div>

<hr />
<div class='row'>
  <div class='col-sm-3'>
    <%= button_to 'Leagues', leagues_path, method: :get, class: 'form-control btn btn-default', title: 'List all tournaments' %>
  </div>
  <div class='col-sm-2'>
    <%= button_to 'Edit', edit_league_path(@league), method: :get, class: 'form-control btn btn-primary' %>
  </div>
</div>
