<p>
  <strong>Name:</strong>
  <%= @round.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @round.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @round.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @round.end_date %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @round.tournament.name %>
</p>

<div class='row'>
  <div class='col-sm-3'>
    <%= button_to 'Tournament', tournament_path(@round.tournament), class: 'btn btn-default', method: :get %>
  </div>
  <div class='col-sm-2'>
    <%= button_to 'Edit', edit_round_path(@round), class: 'btn btn-primary', method: :get %>
  </div>
</div>
