<div id="add-email" class="container col-sm-6">
  <% if user_signed_in? and current_user %>
    <h1>Add Email</h1>
    <%= form_for(current_user, :as => 'user',
                 :url => finish_signup_path(current_user),
                 :html => { class: 'form-horizontal', role: 'form'}) do |f| %>
      <% if @show_errors && current_user.errors.any? %>
        <div id="error_explanation">
          <% current_user.errors.full_messages.each do |msg| %>
            <%= msg %><br>
          <% end %>
        </div>
      <% end %>
      
      <div class="form-group">
        <%= f.label :username, class: 'control-label col-sm-4' %>
        <div class="col-sm-8">
          <%= f.text_field :username, class: 'form-control input-lg', placeholder: 'username', disabled: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: 'control-label col-sm-4' %>
        <div class="col-sm-8">
          <%
              if current_user.email =~ User::TEMP_EMAIL_REGEX
                value = ''
                disabled = false
              else
                value = current_user.email
                disabled = true
              end
          %>

          <%= f.text_field :email, :autofocus => true, :value => value, class: 'form-control input-lg', placeholder: 'Example: email@me.com', disabled: disabled %>
          <p class="help-block">Please confirm your email address.</p>
        </div>
      </div>
      <div class="actions">
        <%= f.submit 'Continue', :class => 'btn btn-primary' %>
      </div>
    <% end %>
  <% else %>
    <div id="errorExplanation">
      <h3>Error: User not signed in</h3>
      <p>You appear to be signed off. Please sign in.</p>
    </div>
  <% end %>
</div>
