<h1><%= @division.tournament.name %></h1>
<div class='row'>
  <p class='col-sm-2'>
    <strong>Division:</strong>
  </p>
  <p class='col-sm-10'>
    <%= @division.name %>
  </p>
</div>
<div class='row'>
  <p class='col-sm-2'>&nbsp;</p>
  <p class='col-sm-10'>
    <%= @division.image %>
  </p>
</div>
<div class='row'>
  <p class='col-sm-2'>
    <strong>Description:</strong>
  </p>
  <p class='col-sm-10'>
    <%= @division.description %>
  </p>
</div>
<hr />
<div class='row'>
  <div class='col-sm-3'>
    <%= button_to 'Show Tournament', tournament_path(@division.tournament), class: 'btn btn-default', method: :get %>
  </div>
  <div class='col-sm-2'>
    <%= button_to 'Edit', edit_division_path(@division), class: 'btn btn-primary', method: :get %>
  </div>
</div>
