<h1>Listing Tournaments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>League</th>
      <th>Image</th>
      <th>Description</th>
      <th>Divisions</th>
      <th>Rounds</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.name, tournament %></td>
        <td><%= tournament.league.name %></td>
        <td><%= image_tag tournament.image unless tournament.image.blank? %></td>
        <td><%= tournament.description %></td>
        <%# TODO should show if team belongs to this tournament.division %>
        <td><%= collection_links(tournament.divisions).html_safe %></td>
        <td><%= collection_links(tournament.rounds).html_safe %></td>
        <td><%= link_to 'New Division', new_tournament_division_path(tournament), class: 'form-control btn btn-default' if current_user.admin? %></td>
        <td><%= link_to 'New Round', new_tournament_round_path(tournament), class: 'form-control btn btn-default' if current_user.admin? %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament), class: 'form-control btn btn-default' if current_user.admin? %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' }, class: 'form-control btn btn-default' if current_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class='row'>
  <div class='col-sm-4'>
    <%= button_to 'New Tournament', new_tournament_path, class: "form-control btn btn-primary", method: :get %>
  </div>
</div>
