<div class='row'>
  <div class='col-sm-10'>
    <h2><%= @tournament.name %></h2>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10'>
    <%= image_tag @tournament.image, alt: @tournament.name unless @tournament.image.blank? %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10'>
    <%= @tournament.description %>
  </div>
</div>
<br />
<div class='row'>
  <div class='col-sm-3'>
    <%= button_to 'Tournaments', tournaments_path, method: :get, class: 'form-control btn btn-default', title: 'List all tournaments' %>
  </div>
  <div class='col-sm-2'>
    <%= button_to 'Edit', edit_tournament_path(@tournament), method: :get, class: 'form-control btn btn-primary' %>
  </div>
</div>
<h1>Divisions</h1>
<% @tournament.divisions.each do |division| %>
  <div class='row'>
    <div class='col-sm-4'>
      <h2><%#= link_to division.name, division, title: division.description  %></h2>
    </div>
    <div class='col-sm-4'>
      <%= division.teams.collect(&:name).join(', ') %>
    </div>
    <div class='col-sm-2'>
      <div><%= link_to 'Edit', edit_division_path(division), class: 'form-control btn btn-default' if current_user.admin? %></div>
    </div>
  </div>
<% end %>
