<div class='row'>
  <div class='col-sm-10'>
    <h2><%= @tournament.name %></h2>
    <h4><%= link_to "#{@tournament.league.name} league", @tournament.league %></h4>
      <strong>Rules</strong>
      <ul>
      <% @tournament.league.rules.each do |rule| %>
        <li><%= link_to rule.name, rule %></li>
      <% end %>
      </ul>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10'>
    <%= image_tag @tournament.image, alt: @tournament.name unless @tournament.image.blank? %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10'>
    <%= @tournament.description %>
  </div>
</div>
<br />
<div class='row'>
  <div class='col-sm-3'>
    <%= button_to 'Tournaments', tournaments_path, method: :get, class: 'form-control btn btn-default', title: 'List all tournaments' %>
  </div>
  <div class='col-sm-2'>
    <%= button_to 'Edit', edit_tournament_path(@tournament), method: :get, class: 'form-control btn btn-primary' if current_user.admin? %>
  </div>
</div>
<h1>Rounds</h1>
<% @tournament.rounds.each do |round| %>
  <div class='row'>
    <div class='col-sm-1'><%= round.name %></div>
    <div class='col-sm-3'><%= round.start_date %></div>
  </div>
<% end %>
<h1>Divisions</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Teams</th>
    </tr>
  </thead>

  <tbody>
<% @tournament.divisions.each do |division| %>
  <tr>
    <td>
      <h3><%= link_to division.name, division, title: division.description  %></h3>
    </td>
    <td>
      <ul style='list-style-type: none;'>
        <% division.teams.each do |team| %>
          <li><%= link_to team.name, team %></li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
