<%= form_for(new_player_game_path(player_id: current_user.player), html: { class: 'form-horizontal' }) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :event, class: 'col-sm-2' %>
    <div class='col-sm-10'>
      <%= f.text_field :event, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :name , class: 'col-sm-2'%>
    <div class='col-sm-10'>
    <%= f.text_field :name , class: 'form-control'%>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :date , class: 'col-sm-2'%>
    <div class='col-sm-10'>
    <%= f.datetime_select :date %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :timecontrol , class: 'col-sm-2'%>
    <div class='col-sm-10'>
    <%= f.text_field :timecontrol , class: 'form-control'%>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :while_elo , class: 'col-sm-2'%>
    <div class='col-sm-10'>
    <%= f.text_field :while_elo , class: 'form-control'%>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :black_elo , class: 'col-sm-2'%>
    <div class='col-sm-10'>
    <%= f.text_field :black_elo , class: 'form-control'%>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :site , class: 'col-sm-2'%>
    <div class='col-sm-10'>
    <%= f.text_field :site , class: 'form-control'%>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :result , class: 'col-sm-2'%>
    <div class='col-sm-10'>
    <%= f.text_field :result , class: 'form-control'%>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :fen , class: 'col-sm-2'%>
    <div class='col-sm-10'>
    <%= f.text_field :fen , class: 'form-control'%>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label 'PGN *' , class: 'col-sm-2'%>
    <div class='col-sm-10'>
    <%= f.text_area :pgn, size: '20x10', class: 'form-control' %>
    </div>
  </div>
  <%= f.hidden_field :division_id , class: 'form-control'%>
  <div class='form-group'>
    <%= f.label :visibility , class: 'col-sm-2'%>
    <div class='col-sm-10'>
    <%= f.select :visibility, Game::VISIBILITY, include_blank: true %>
    </div>
  </div>
  <div class="text-center">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
  <div class="text-center">
    <small>* Required</small>
  </div>
<% end %>
