<h1>Listing Games</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Event</th>
      <th>Name</th>
      <th>Date</th>
      <th>Timecontrol</th>
      <th>While Player</th>
      <th>While elo</th>
      <th>Black Player</th>
      <th>Black elo</th>
      <th>Site</th>
      <th>Result</th>
      <th>Game</th>
      <th>Tournament</th>
      <th>Visible to</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.event %></td>
        <td><%= game.name %></td>
        <td><%= game.date %></td>
        <td><%= game.timecontrol %></td>
        <td><%= game.white_player.name %></td>
        <td><%= game.white_elo %></td>
        <td><%= game.black_player.name %></td>
        <td><%= game.black_elo %></td>
        <td><%= game.site %></td>
        <td><%= game.result %></td>
        <td><%= link_to player_game_path(game.white_player,game) do %><span id="board_<%= game.id %>" style='width: 300px'></span><% end %></td>
        <td><%= game.division.name_with_tournament if game.division %></td>
        <td><%= game.visibility.humanize if game.visibility %></td>
        <td><%= button_to 'Edit', edit_player_game_path(current_user.player,game), class: 'btn btn-primary', method: :get if game.players.include? current_user.player or current_user.admin? %></td>
        <td><%= button_to 'Destroy', player_game_path(current_user.player,game), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' if game.players.include? current_user.player or current_user.admin? %></td>
      </tr>
      <script type='text/javascript'>
        <%= render 'board.js', game: game %>
      </script>
    <% end %>
  </tbody>
</table>

<%= will_paginate @games, renderer: BootstrapPagination::Rails %>
