<div class='row'>
  <div class='col-sm-5'>
    <div id="board_<%= @game.id %>" style='width: 400px'></div>
    <p>Status: <span id="status_<%= @game.id %>"></span></p>
    <div id="board-buttons">
      <button type="button" class="btn btn-default" id="btnStart<%= @game.id %>"><i class="glyphicon glyphicon-fast-backward"></i></button>
      <button type="button" class="btn btn-default" id="btnPrevious<%= @game.id %>"><i class="glyphicon glyphicon-step-backward"></i></button>
      <button type="button" class="btn btn-default" id="btnNext<%= @game.id %>"><i class="glyphicon glyphicon-step-forward"></i></button>
      <button type="button" class="btn btn-default" id="btnEnd<%= @game.id %>"><i class="glyphicon glyphicon-fast-forward"></i></button>
      |
      <%= link_to 'Flip', '#', id: "flip_btn_#{ @game.id }", class: 'btn btn-default' %>
      <%= link_to 'Help', '#', id: "help_btn_#{ @game.id }", class: 'btn btn-default' %>
      <%= link_to 'Details', '#', id: "details_btn_#{ @game.id }", class: 'btn btn-default' %>
    </div>
  </div>
  <div class='col-sm-7'>
    <div id="game-data<%= @game.id %>"></div>
  </div>
</div>
<div id='board-help' class="row" style='display: none'>
  <div class="col-xs-12">
    <h4>Keyboard Shortcuts</h4>
    <dl class="dl-horizontal">
      <dt>Next move:</dt><dd>Right arrow key</dd>
      <dt>Previous move:</dt><dd>Left arrow key</dd>
      <dt>End of game:</dt><dd>Ctrl + right arrow key</dd>
      <dt>Start of game:</dt><dd>Ctrl + left arrow key</dd>
      <dt>Next game:</dt><dd>Up arrow key</dd>
      <dt>Previous game:</dt><dd>Down arrow key</dd>
      <dt>First game:</dt><dd>Ctrl + up  arrow key</dd>
      <dt>Last game:</dt><dd>Ctrl + down arrow key</dd>
    </dl>
  </div>
</div>

<div id='game_details_<%= @game.id %>' class="row" style='display: none'>
<p>
  <strong>Event:</strong>
  <%= @game.event %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Timecontrol:</strong>
  <%= @game.timecontrol %>
</p>

<p>
  <strong>While elo:</strong>
  <%= @game.while_elo %>
</p>

<p>
  <strong>Black elo:</strong>
  <%= @game.black_elo %>
</p>

<p>
  <strong>Site:</strong>
  <%= @game.site %>
</p>

<p>
  <strong>Result:</strong>
  <%= @game.result %>
</p>

<p>
  <strong>Fen:</strong>
  <span id='fen_<%= @game.id %>'><%= @game.fen %></span>
</p>

<p>
  <strong>Pgn:</strong>
  <span id='pgn_<%= @game.id %>'><%= @game.pgn %></span>
</p>

<p>
  <strong>Division:</strong>
  <%= @game.division.name_with_tournament if @game.division %>
</p>
</div>

<script type='text/javascript'>
<%= render 'board.js', game: @game %>
</script>
