<h1>Listing Players</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Nationality</th>
      <th>Gender</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td>
          <% icon=''; icon='glyphicon glyphicon-check' unless player.user_id.blank? %>
          <span class='<%= icon %>' title='Player has associated user'></span>
        </td>
        <td><%= player.name %></td>
        <td><%= player.nationality %></td>
        <td><%= player.gender %></td>
        <td><%= image_tag player.image unless player.image.blank? %></td>
        <td><%= link_to 'Show', player, class: 'form-control btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_player_path(player), class: 'form-control btn btn-default' if player == current_user.player or current_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
<div class='row'>
  <div class='col-sm-2'>
    <%= button_to 'New Player', new_player_path, class: 'form-control btn btn-primary', method: :get %>
  </div>
</div>
<% end %>

<%= will_paginate @players, renderer: BootstrapPagination::Rails %>
