<h1>Listing Players</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Nationality</th>
      <th>Gender</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.user_id %></td>
        <td><%= player.name %></td>
        <td><%= player.nationality %></td>
        <td><%= player.gender %></td>
        <td><%= player.image %></td>
        <td><%= link_to 'Show', player, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_player_path(player), class: 'btn btn-default' if player == current_user.player or current_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
<%= button_to 'New Player', new_player_path, class: 'btn btn-primary', method: :get %>
<% end %>

<%= will_paginate @players, renderer: BootstrapPagination::Rails %>
