<h1>Listing Players</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Nationality</th>
      <th>Gender</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <% number_of_users_without_players = User.without_player.size %>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td>
          <% if player.user_id.blank? and current_user.admin? %>
            <%# html: { class: "form form-inline" } %>
            <div>
              <% if number_of_users_without_players > 0 %>
                <%= form_for :user, url: { controller: :users, action: :link_player } do |f| %>
                  <%= f.hidden_field 'player_id', value: player.id %>
                  <%= f.select :id, User.without_player,
                    include_blank: true, class: 'form-control'%>
                  <%# are you sure? %>
                  <%#data: { confirm: "Are you sure you want to remove #{players_form.object.name} from captains?" }, %>
                  <%= f.submit 'Link Player', class: 'form-control' %>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <% icon=''; icon='glyphicon glyphicon-check' unless player.user_id.blank? %>
            <span class='<%= icon %>' title='Player has associated user'></span>
          <% end %>
        </td>
        <td><%= player.name %></td>
        <td><%= player.nationality %></td>
        <td><%= player.gender %></td>
        <td><%= image_tag player.image unless player.image.blank? %></td>
        <td><%= link_to 'Show', player, class: 'form-control btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_player_path(player), class: 'form-control btn btn-default' if player == current_user.player or current_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
<div class='row'>
  <div class='col-sm-2'>
    <%= button_to 'New Player', new_player_path, class: 'form-control btn btn-primary', method: :get %>
  </div>
</div>
<% end %>

<%= will_paginate @players, renderer: BootstrapPagination::Rails %>
