<%- if not @player.user.blank? and current_user.admin? %>
<div class='row'>
  <div class='col-sm-2'>
    <strong>User:</strong>
  </div>
  <div class='col-sm-10'>
    <%= @player.user.username %> &lt;<%= @player.user.email %>&gt;
  </div>
</div>
<% end %>

<div class='row'>
  <div class='col-sm-2'>
    <strong>Name:</strong>
  </div>
  <div class='col-sm-10'>
    <%= @player.name %>
  </div>
</div>

<div class='row'>
  <div class='col-sm-2'>
    <strong>Nationality:</strong>
  </div>
  <div class='col-sm-10'>
    <%= @player.nationality %>
  </div>
</div>

<div class='row'>
  <div class='col-sm-2'>
    <strong>Gender:</strong>
  </div>
  <div class='col-sm-10'>
    <%= @player.gender %>
  </div>
</div>

<div class='row'>
  <div class='col-sm-2'>&nbsp;</div>
  <div class='col-sm-10'>
    <%= image_tag @player.image unless @player.image.blank? %>
  </div>
</div>

<div class='row'>
  <div class='col-sm-2'>
    <%= button_to 'List', players_path, title: 'List all players', class: "form-control btn btn-default", method: :get %>
  </div>
  <div class='col-sm-2'>
    <%= button_to 'Edit', edit_player_path(@player), class: "form-control btn btn-primary", method: :get %>
  </div>
</div>
<% if @player.teams.size > 0 %>
<h2>Teams</h2>
<ul>
  <% @player.teams.each do |t| %>
  <% icon = ''; icon = 'glyphicon glyphicon-star' if t.captains.include? @player %>
  <li><%= link_to t.name, t, title: "#{t.name} Team" %> <span title='Captain' class="<%= icon %>"></span></li>
<% end %>
</ul>
<% end %>
