<h1>Listing Rules</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= link_to rule.name, rule %></td>
        <td><%= rule.summary %></td>
        <td><%= link_to 'Edit', edit_rule_path(rule), class: 'btn btn-default' if current_user.admin? %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure?' } if current_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
<div class='row'>
  <div class='col-sm-2'>
    <%= button_to 'New Rule', new_rule_path, class: 'form-control btn btn-primary', method: :get %>
  </div>
</div>
<% end %>

<%= will_paginate @rules, renderer: BootstrapPagination::Rails %>
