<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rule.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @rule.summary %>
</p>

<p>
  <strong>Body:</strong>
  <%= @rule.body %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
