<div class='row'>
  <div class='col-sm-10'>
    <h2><%= @rule.name %></h2>
  </div>
</div>

<div class='row'>
  <div class='col-sm-10'>
    <strong>Summary:</strong>
    <%= @rule.summary %>
  </div>
</div>

<div class='row'>
  <div class='col-sm-10'>
    <strong>Body:</strong>
    <%= @rule.body %>
  </div>
</div>

<hr />
<div class='row'>
  <div class='col-sm-3'>
    <%= button_to 'Rules', rules_path, method: :get, class: 'form-control btn btn-default', title: 'List all tournaments' %>
  </div>
  <div class='col-sm-2'>
    <%= button_to 'Edit', edit_rule_path(@rule), method: :get, class: 'form-control btn btn-primary' if current_user.admin? %>
  </div>
</div>
