<!DOCTYPE html>
<html>
<head>
  <title>ChessTournaments</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
  <div class="navbar-inverse navbar-fixed-top" style="background: rgb(60, 60, 105);">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-brand">
          Chess Tournament
        </div>

        <div class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#">
            <div class="glyphicon glyphicon-search"></div>
          </a>
          </li>
          <% if user_signed_in? %>
            <li class="dropdown">
                <%= link_to '',
                    destroy_user_session_path,
                    method: :delete,
                    class: "glyphicon glyphicon-log-out",
                    title: "Sign out"
                 %>
            </li>
          <% else %>
            <ul>
              <li class="dropdown">
              <%- if true %>
                <%- Devise.omniauth_providers.each do |provider| %>
                  <%= link_to image_tag("#{provider.to_s}_64.png", size: "64x64", alt: "#{provider.to_s.titleize}"),
                    omniauth_authorize_path(User, provider),
                    method: "post",
                    title: "Sign-in with #{provider.to_s.titleize}"
                    %> •
                <% end -%>
              <% end -%>
              <%#= link_to "Github",
                user_omniauth_authorize_path(:github),
                method: "post",
                title: "Sign-in with Github",
                class: "glyphicon glyphicon-log-in" %>
              </li>
            </ul>
          <% end %>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
            <a href="#">Link</a>
            </li>
            <li>
            <a href="#">Link</a>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
            <ul class="dropdown-menu">
              <li>
              <a href="#">Action</a>
              </li>
              <li>
              <a href="#">Another action</a>
              </li>
            </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <br />
    <div class='col-sm-4'><%= image_tag 'logo.jpg' %></div>
    <div class='col-sm-8'><%= yield %></div>
  </div>
</div>
<%= console if Rails.env.development? %>
</body>
</html>
