<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chess::Tournaments</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#chess-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Chess::Tournaments", root_path, title: "Home", class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="chess-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default form-control glyphicon glyphicon-search" title='Search'></button>
          </form>
          </li>
          <% if user_signed_in? %>
          <li><%= link_to messages_path,
            class: 'glyphicon glyphicon-envelope',
            role: "button", title: "Messages" do %>
            <span class="badge"><%= current_user.unread_messages.size %></span>
          <% end %></li>
          <% if current_user.player.nil? %>
          <li><%= link_to '', new_player_path, class: 'glyphicon glyphicon-bell',
            role: "button", title: "User not associated with player. Click to create." %>
          </li>
          <% end %>

          <%- if current_user.admin? %>
          <li class="dropdown"> 
            <%= link_to '#',
              class: "dropdown-toggle ",
              data: { toggle: "dropdown" },
              role: "button",
              title: "Administrative actions" do
            %>
              Actions <span class='caret'></span>
            <% end %>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'New League', new_league_path %></li>
              <li><%= link_to 'New Player', new_player_path %></li>
              <li><%= link_to 'New Rule', new_rule_path %></li>
              <li><%= link_to 'New Team', new_team_path %></li>
              <li><%= link_to 'New Tournament', new_tournament_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Leagues', leagues_path %></li>
              <li><%= link_to 'Players', players_path %></li>
              <li><%= link_to 'Rules', rules_path %></li>
              <li><%= link_to 'Teams', teams_path %></li>
              <li><%= link_to 'Tournaments', tournaments_path %></li>
            </ul>
          </li>
          <%- end %>

          <li class="dropdown"> 
            <%- uimg = '' %>
            <%- extra = current_user.admin? ? ' (admin)' : '' %>
            <%# We display "Menu" if the user cannot reach server with image %>
            <%- if not current_user.player.blank? and current_user.player.image > '' %>
              <% uimg = image_tag(current_user.player.image, size: "32x32", alt: "Menu") %>
            <%- elsif current_user.image > '' %>
              <% uimg = image_tag(current_user.image, size: "32x32", alt: "Menu") %>
            <%- end %>
            <%= link_to '#',
              class: "dropdown-toggle " + ( uimg > '' ? '' : "glyphicon glyphicon-user" ),
              data: { toggle: "dropdown" },
              role: "button",
              title: current_user.username + extra do
            %> 
              <%= uimg + " " + current_user.full_name %> <span class='caret'></span>
            <%- end %>
          <ul class="dropdown-menu" role="menu">
              <% if current_user.identities.size < 1 %>
                <%# only local users are allowed to have a password that they know %>
                <li> <%= link_to ' Preferences', edit_user_registration_path %></li>
                <li> <%= link_to ' Edit Player', edit_player_path(current_user.player) if current_user.player%></li>
              <% else %>
                <li> <%= link_to ' Preferences', edit_player_path(current_user.player) unless current_user.player.blank? %></li>
              <% end %>
              <li>
              <%= link_to ' Sign Out',
                destroy_user_session_path,
                method: :delete,
                class: "glyphicon glyphicon-log-out",
                title: "Terminate session"
              %> 
              </li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
          <%= link_to "Sign In > ",'#',
              class: "dropdown-toggle", data: { toggle: "dropdown" },
              role: "button"
             %>
           <ul class="dropdown-menu" role="menu">
             <li><%= link_to 'Sign In',
               new_user_session_path, title: 'Sign in with local account' %></li>
             <li><%= link_to 'Register',
               new_user_registration_path, title: 'Create local account' %></li>
               <hr />
               <div class='text-center'>
                 <strong>Remote Accounts</strong>
               </div>
               <br />
          <%- Devise.omniauth_providers.each do |provider| %>
            <li>
              <div class='text-center'>
            <%= link_to image_tag("#{provider.to_s}_64.png", alt: "#{provider.to_s.titleize}"),
              omniauth_authorize_path(User, provider),
              method: "post",
              title: "Sign-in with #{provider.to_s.titleize}"
              %>
               </div>
            </li>
          <% end -%>
          </ul>
          </li>
        <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <br />
  <div class='container'>
    <% if alert %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= alert %>
      </div>
    <% end %>
    <% if notice %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= notice %>
      </div>
    <% end %>
    <div class='row'>
      <div class='col-sm-4'><%= image_tag 'logo.jpg' %></div>
      <div class='col-sm-8'><%= yield %></div>
    </div>
  </div>
</body>
</html>
